.headlines {
  width: 100%;
  position: relative;

  /* margin: 1.875rem 0rem 0rem 0rem; */

  height: 20%;
}
.headlines-right {
  width: 25%;

  height: 100%;
  /* margin-right: 14%; */
  position: relative;
  float: right;
  /* border: red 1px solid; */
}

.headlines-right img {
  /* width: 100%;
  
  height: 8rem; */
  /* border: red 1px solid; */
  width: 144px;
    height: 108px;
}
.headlines-left {
  /* width: 75%; */
  /* height: 100%; */
  position: absolute;
  width: 434px;
  height: 120px;

  float: left;
  
  /* padding: 1%; */
}

.headlines-left h3 {
  flex-direction: column;
  width:434px;
  height: 130px;
  /* width: 100%; */
  /* height: 54px; */
  overflow: hidden;
  font-weight: bold;
  /* font-size: 22px; */
  /* margin-bottom: 0.7rem; */
  /* border: red 1px solid; */
  display: flex;

  font-size: 20px;
  /* font-weight: var(--font-weight-bold); */
  line-height: 30px;
  /* padding-right: 20px; */
  /* align-items: center;
  text-align: center; */
  justify-content: center;
}

/*---------------------------------------*/
.refl{
  display: flow-root;
 
}
.NewFooter2 {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: 26px;
  font-size: 120%;
  height: 2rem;
  
  color: #808080;


}
.SocialIcon2 {
  height:36px;
  width:140px;
  display: flex;
  flex-direction: row;
  /* position: relative; */
  /* justify-content: space-between; */
  /* right:0 */
  /* align-items: center; */
 
}
.cated{
  height:24px;
  width:150px;
  font-weight: bold;

}
.SocialIconed1{
  height:24px;
width:24px;
}
.SocialIconed2{
padding-left: 20px;
height:24px;
width:24px;
}

/*--------------------------------------*/
.headlines-left p {
  font-size: 15px;
  font-family: inter;
  width: 98%;
  height: 119px;
  /* overflow: hidden; */
}

.footer h4 {
  margin: 0px 0px 0px 3.125rem;
  bottom: 0;
  left: 0;
}
.icon {
  margin: 0rem 6.25rem 0rem 0rem;
}
.icon a {
  text-decoration: none;
}
.head {
  width: 100%;
  display: inline-block;
  border-bottom: 1px solid black;
}
.head h4 {
  float: left;
  margin: 5px;
  font-size: 28px;
}
.head p {
  float: right;
  margin: 18px 5px 5px 5px;
  background-color: #000;
  color: #fff;
}

.BlockHead {
  /* width:40rem; */
  /* margin-top: 3%; */
  /* height: 29.8%; */
  width: 640px;
  height:195px;
  background-color: #ffff;
  padding: 20px 20px 8px;
  /* border-style: ridge; */
  border: 1px solid  #eaeaea

  /* overflow-block: hidden; */
}

.footer {
  width: 53rem;
  margin-top: 1rem;
}
.globelicon {
  color: #3b5998;
  font-size:150%;
}
.CatName {
  font-size: 110%;
  font-weight: 600;
}
.SocialGlobelIcns {
  font-size: 20%;
  color: #3b5998;
  float: right;
  padding-right: 58px;
  padding-top: 5px;
}

