.Searchbar {
  display: inline;
  border-bottom: 2px solid rgb(0, 0, 0);
  padding-bottom: 1.5rem;
  margin-bottom: 1rem;
}
.Searchbar input {
  padding: 10px 286px 5px 20px;
  border-radius: 50px;
  border: none;
  font-size: 25px;
}
.Searchbarbtn {
  background-color: red;
  font-size: 30px;
  padding: 5px 40px;
  border-radius: 50px;
  border: none;
  margin: 0px 0px 0px 5px;
}
.Searchitem {
  margin-top: 3rem;
}
.BtnItems {
  padding: 0.5rem 1rem;
  font-size: 25px;
  border: 1px solid #000;
  border-radius: 40px;
  cursor: pointer;
}
.BtnItems i {
  color: #789cc4;
  font-size: 40px;
}
